* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    background-color: rgb(192, 218, 251);
}

.carousel_container {
    margin: 4em auto;
    width: 730px;
    height: 410px;
    display: flex;
    justify-content: space-between;
}

.carousel_container .button {
    /* border: 1px solid rebeccapurple; */
    display: flex;
    align-items: center;
    position: relative;
    width: 10%;
}

.carousel_container .button button.button_carousel {
    font-size: 95px;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    color: rgba(32, 178, 171, 0.692);
    position: absolute;
}

.carousel_container .button button.prev {
    right: 0;
}

.carousel_container .button button.button_carousel:hover {
    color: rgba(70, 131, 180, 0.521);
    transition: 0.8s;
    font-size: 125px;
}

.carousel_container .carousel {
    width: 570px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid rgb(146, 146, 146);
}

.carousel_container .carousel .carousel_img {
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    /* transition: 0.8s; */
    /* transform: translateX(-100%); */
}

.carousel_container .carousel .carousel_img img {
    width: 100%;
    height: 100%;
}